<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @webseries.url %>
</p>

<p>
  <strong>String:</strong>
  <%= @webseries.string %>
</p>

<p>
  <strong>Metadata:</strong>
  <%= @webseries.metadata %>
</p>

<p>
  <strong>String:</strong>
  <%= @webseries.string %>
</p>

<p>
  <strong>Thumbimg:</strong>
  <%= @webseries.thumbimg %>
</p>

<p>
  <strong>String:</strong>
  <%= @webseries.string %>
</p>

<%= link_to 'Edit', edit_webseries_path(@webseries) %> |
<%= link_to 'Back', webseries_index_path %>
