<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @newest_fashion.url %>
</p>

<p>
  <strong>Mdata:</strong>
  <%= @newest_fashion.mdata %>
</p>

<p>
  <strong>Img:</strong>
  <%= @newest_fashion.img %>
</p>

<%= link_to 'Edit', edit_newest_fashion_path(@newest_fashion) %> |
<%= link_to 'Back', newest_fashions_path %>
