<%= provide(:title, 'Admin | Login') %>
<div class = "container-fluid">
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<br/>
			<%= form_for(:session, {class: 'form', role: 'form'}) do |f| %>
				<div class="form-group">
					<%= f.label"Username" %><br/>
					<%= f.text_field :username, {class: 'form-control'} %>
				</div><br/>
				<div class="form-group">
					<%= f.label :name, 'Password' %><br/>
					<%= f.password_field :password, {class: 'form-control'}%>
				</div><br/>
				<div class="actions">
    				<%= f.submit "Authenticate", :class => 'btn btn-primary'  %>
  				</div>
			<% end %>
			<br/>
			<div class="alert alert-warning">
				<%= link_to 'Forgot your password ?' %>
			</div>
			<div class="alert alert-warning">
				<%= link_to 'Register a new account', new_user_path %>
			</div>
		</div>	
	</div>
</div>
