<%= form_for(@user , {class: 'form', role: 'form'}) do |f| %>

  <div class="form-group">
    <%= f.label :user_name, 'Username' %><br>
    <%= f.text_field :user_name,  :class => 'form-control' %>
  </div><br/>
  <div class="form-group">
    <%= f.label :email, 'Email' %><br>
    <%= f.text_field :email, :class => 'form-control' %>
  </div><br/>
  <% if !@user.id.nil? %>
    <div class="form-group">
      <%= f.label :current_password, 'Current Password' %><br>
      <%= f.password_field :current_password, :class => 'form-control' %>
    </div><br/>
  <% end %>
  <div class="form-group">
    <%= f.label :password, @user.id.nil? ? "Password" : "New Password" %><br>
    <%= f.password_field :password, :class => 'form-control' %>
  </div><br/>
  <div class="form-group">
    <%= f.label :password_confirmation,@user.id.nil? ? "Password Confirmation" : "New Password Confirmation" %><br>
    <%= f.password_field :password_confirmation, :class => 'form-control' %>
  </div><br/>
  <% if !@user.id.nil? %>
    <div class="form-group">
      <%= f.label :super_admin, 'Super Admin' %><br>
      <%= f.check_box :super_admin, :class => 'form-control' %>
    </div><br/>
  <% end %>
  <div class="actions">
    <%= f.submit @user.id.nil? ? "Register" : "Submit", :class => 'btn btn-primary' %>
  </div><br/>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <span><%= pluralize(@user.errors.count, "error") %>: </span>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <br/>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
