<h1>Listing newest_videos</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Mdata</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newest_videos.each do |newest_video| %>
      <tr>
        <td><%= newest_video.url %></td>
        <td><%= newest_video.mdata %></td>
        <td><%= newest_video.img %></td>
        <td><%= link_to 'Show', newest_video %></td>
        <td><%= link_to 'Edit', edit_newest_video_path(newest_video) %></td>
        <td><%= link_to 'Destroy', newest_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newest video', new_newest_video_path %>
