<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @newest_video.url %>
</p>

<p>
  <strong>Mdata:</strong>
  <%= @newest_video.mdata %>
</p>

<p>
  <strong>Img:</strong>
  <%= @newest_video.img %>
</p>

<%= link_to 'Edit', edit_newest_video_path(@newest_video) %> |
<%= link_to 'Back', newest_videos_path %>
