<%= provide(:title, 'videos') %>
<div class="container-fluid container-admin-videos">
  <div id="video-preview" class="modal container" style="position: relative;">
  </div>    
  <%= define_grid(@videos, hide_submit_button: true, hide_reset_button: true, show_filters: :always) do |g|

    g.column name: 'ID' do |task|
      link_to(task.id, edit_video_path(task))
    end

    g.column name: 'Author', attribute: 'author', detach_with_id: :author_filter  do |task|
      task.author
    end

    g.column name: 'Author Email', attribute: 'author_email', detach_with_id: :author_email_filter  do |task|
      task.author_email
    end

    g.column name: 'Title', attribute: 'title', detach_with_id: :title_filter  do |task|
      task.title
    end

    g.column name: 'Description', attribute: 'description', detach_with_id: :description_filter do |task|
      task.description
    end

    g.column name: 'Url', attribute: 'url' do |task|
      task.url
    end

    g.column name: 'Youtube Url', attribute: 'youtube_url' do |task|
      task.youtube_url
    end

    g.column do |task|
      link_to('Watch', preview_path(task), {:remote => true})
    end

    g.column name: '', attribute: 'accepted', detach_with_id: :accepted_filter  do |task|
      link_to('Accept', accept_path(task), method: :get, data: {confirm: 'Are you sure?'})
    end

    g.column name: '', attribute: 'processed', detach_with_id: :processed_filter do |task|
      link_to('Mark as Processed', processed_path(task), method: :get, data: {confirm: 'Are you sure?'})
    end

    g.column name: '', attribute: 'deleted', detach_with_id: :deleted_filter  do |task|
      link_to('Delete', video_path(task), method: :delete, data: {confirm: 'Are you sure?'})
    end
  end -%>

    <div class="row video-prop">
      <div class="col-xs-1">
        Author:
      </div>
      <div class="col-xs-2">
        <%= grid_filter @videos, :author_filter %>
      </div>
    </div>

    <div class="row video-prop">
      <div class="col-xs-1">
        Author Email:
      </div>
      <div class="col-xs-2">
        <%= grid_filter @videos, :author_email_filter %>
      </div>
    </div>

    <div class="row video-prop">
      <div class="col-xs-1">
        Title:
      </div>
      <div class="col-xs-2">
        <%= grid_filter @videos, :title_filter %>
      </div>
    </div>

    <div class="row video-prop">
      <div class="col-xs-1">
        Description:
      </div>
      <div class="col-xs-2">
        <%= grid_filter @videos, :description_filter %>
      </div>
    </div>

    <div class="row video-prop">
      <div class="col-xs-1">
        Accepted:
      </div>
      <div class="col-xs-2">
        <%= grid_filter @videos, :accepted_filter %>
      </div>
    </div>

    <div class="row video-prop">
      <div class="col-xs-1">
        Processed:
      </div>
      <div class="col-xs-2">
        <%= grid_filter @videos, :processed_filter %>
      </div>
    </div>

    <div class="row video-prop">
      <div class="col-xs-1">
        Deleted:
      </div>
      <div class="col-xs-2">
        <%= grid_filter @videos, :deleted_filter %>
      </div>
    </div>

    <div class="row col-xs-4 video-prop-actions">
    <%= submit_tag "Submit", :class => "btn btn-primary wg-external-submit-button", "data-grid-name":"grid"  %>

    <%= submit_tag "Reset", :class => "btn btn-default wg-external-reset-button", "data-grid-name":"grid"  %>
    </div>

    <%= render_grid(@videos) %>
</div>