<div class="owl-carousel owl-theme">
    <% carousel_videos.each do |videotemplate| %>
    <div class ="hover-effect" style="width: 280px; padding-left: 20px">
      <div class="view view-first carou-img">
        <div class="masked">
          <a href = "watch?url=<%= videotemplate.url %>;title=<%= videotemplate.title %>;meta_data=<%= videotemplate.meta_data %>">
            <img src= "https://i.ytimg.com/vi/<%= videotemplate.url %>/mqdefault.jpg" alt="<%= videotemplate.title %>">
            <div class='video-title'><%= videotemplate.title %></div>
          </a>
        </div>
      </div>
    </div>
    <% end %>
</div>