<% provide(:title, 'Home')%>

<div class = "container-fluid">
  <div class = "form-inline well">
    <div class = row>
        <h3>Trending Videos</h3>
        &nbsp;
    </div> 



    <div class = "well">
      <%= render partial: 'shared/carousel_videos',
        object: @trending_videos
      %>
    </div>
    <br/>

    <div class = "row">
      <h3>Featured Video</h3>
        &nbsp;
    </div>
    <div class = "well">
      <div class = "row">
        <div id='playerxOMAufbyCsCE'></div>
          <script type='text/javascript'>
            jwplayer('playerxOMAufbyCsCE').setup({
            file: 'https://www.youtube.com/watch?v=rwmCfxTQiHQ',
            image: 'https://i.ytimg.com/vi/rwmCfxTQiHQ/mqdefault.jpg',
            width: '100%',
            aspectratio: '16:9',
            autostart: 'false'
          });
         </script>
      </div>
    </div>
    <br/>

    <div class = "row">
      <h3>All Videos</h3>
        &nbsp;
    </div>
    <div class = "row">
      <ul class="list-inline">
      <% @youtube_videos.each do |videotemplate| %>
        <li>
          <div class="hover-effect">
            <div class="view view-first">
              <div class="masked">
                <a href = "watch?url=<%= videotemplate.url %>;title=<%= videotemplate.title %>;meta_data=<%= videotemplate.meta_data %>">
                  <img src = "https://i.ytimg.com/vi/<%= videotemplate.url %>/mqdefault.jpg">
                  <%= videotemplate.title %>
                  </br>
                  <%= videotemplate.date.to_date %>
                </a>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
      <%= will_paginate @youtube_videos %>
    </div>
  </div>
</div>