<% provide(:title, 'Home')%>
<!-- MAIN DIV CONTAINERS -->
<%= render "layouts/header" %>
<!-- NEW SECTION-->
<div id="div-container">
    <div id="main-container">
        <div id="content">
            <div id="content-wrapper">
                <%= render "layouts/sidebar" %>
                <!-- Main Content -->
                <div id="span-mainbox">
                    <div class="span-mainbox-cont">
                        <h1><strong>Trending Videos</strong></h1>
                        <!-- SLIDER -->
                        <div class="carousel_wrapper">
                            <div class="carousel">
                                <ul id="c-slider" class="hover-effect">
                                    <li class="view view-first carou-img">
                                        <div class="masked">
                                            <a href = "watch?url=j2CyNVOVI1k;vid_metadata= Wizkid - Ojuelegba [Official Video] ">
                                                <%= image_tag('https://s3-eu-west-1.amazonaws.com/afrimages/yt/ws/wizOjuelegba.png',alt:'#') %>
                                                Wizkid - Ojuelegba [Official Video]
                                            </a>
                                        </div>
                                    </li>
                                    <li class="view view-first carou-img">
                                        <div class="masked">
                                            <a href = "watch?url=Ndu46ieBvJw">
                                                <%= image_tag('https://s3-eu-west-1.amazonaws.com/afrimages/yt/ws/miBadbelle.png',alt:'#') %>
                                                MI Abaga - Bad Belle ft Moti Cakes
                                            </a>
                                        </div>
                                    </li>
                                    <li class="view view-first carou-img">
                                        <div class="masked">
                                            <a href = "watch?url=sqflXTvth3s">
                                                <%= image_tag('https://s3-eu-west-1.amazonaws.com/afrimages/yt/ws/davidoSkelewu.png',alt:'#') %>
                                                Davido - Skelewu
                                            </a>
                                        </div>
                                    </li>
                                    <li class="view view-first carou-img">
                                        <div class="masked">
                                            <a href = "watch?url=1vHAPqOTOMs">
                                                <%= image_tag('https://s3-eu-west-1.amazonaws.com/afrimages/yt/ws/azontoAllstar.png',alt:'#') %>
                                                Azonto All Star -  London Part 1
                                            </a>
                                        </div>
                                    </li>
                                    <li class="view view-first carou-img">
                                        <div class="masked">
                                            <a href = "watch?url=fxgnycPN_zg">
                                                <%= image_tag('https://s3-eu-west-1.amazonaws.com/afrimages/yt/ws/azontoAllstar3.png',alt:'#') %>
                                                Azonto All Star - London Part 3
                                            </a>
                                        </div>
                                    </li>
                                    <li class="view view-first carou-img">
                                        <div class="masked">
                                            <a href = "watch?url=2tTAUMJ2yIc">
                                                <%= image_tag('https://s3-eu-west-1.amazonaws.com/afrimages/yt/ws/2FaceDancefloor.png',alt:'#') %>
                                                2Face - Dance Floor
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <!-- NEWEST CAROUSEL NEXT AND PREV -->
                                <a id="carousel_prev" class="prev" href="#"></a>
                                <a id="carousel_next" class="next" href="#"></a>
                            </div>
                        </div>
                        <!-- END SLIDER -->
                    </div>
                    <!-- FEATURED BOX -->
                    <div class="span-mainbox-cont">
                        <h1><strong>Featured Videos</strong></h1>
                        <div class="iframe-container">
                            <iframe src="http://www.youtube.com/embed/gVe5CxcQEWg" width="690" height="390" id="widget_video" name="widget_video"></iframe>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="span-mainbox-cont">
                        <h1>All Videos</h1>
                        <div class="span-fullwidth">
                        <!-- CONTENT -->
              <ul class="gallery-listed clearfix">
                <% @videos.each do |videotemplate| %>
                <li>
                  <!-- IMAGE -->
                  <div class="hover-effect">
                    <div class="view view-first">
                      <div class="masked">
                        <a href = "watch?url=<%= videotemplate.url %>;vid_metadata=<%= videotemplate.mdata %>;img=<%= videotemplate.img %>">
                          <img src = "https://s3-eu-west-1.amazonaws.com/afrimages/yt/ws/<%= videotemplate.img%>">
                          <%= videotemplate.mdata %>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <% end %>
              </ul>
              <%= will_paginate @videos %>
            </div>
          </div>
          <div class="clear"></div>
          <div class="fix-gap"></div>
                </div>
            </div>
        </div>
        <%= render "layouts/footer" %>
    </div>
</div>
