<% provide(:title, 'Home')%>
<div class = "content">
  <div class='content-videos'>
    <div class='content-videos-header content-videos-header-searched'>ALL '<%= @search_text %>' VIDEOS
    </div>
      <section class="col-xs-12 content-videos-header-videos-section">
        <% @filtered_videos.each do |videotemplate| %>
        <section class="content-videos-header-videos-section-item">
          <div class="hover-effect">
            <div class="view view-first">
              <div class="masked">
                <% if videotemplate.has_attribute?(:vimeo_video_id)  %>
                  <a href = "watch?url=<%= videotemplate.vimeo_video_id%>;title=<%= videotemplate.title%>;upload=true">
                <% else %>
                  <a href = "watch?url=<%= videotemplate.url%>;title=<%= videotemplate.title%>;meta_data=<%= videotemplate.meta_data %>">
                <% end %> 
                   <% if videotemplate.has_attribute?(:vimeo_video_id)  %>
                    <img data-original="<%= videotemplate.thumb_nail %>" class="lazy" alt="<%= videotemplate.title %>">
                   <% else %>
                    <img data-original="https://i.ytimg.com/vi/<%= videotemplate.url %>/mqdefault.jpg" class="lazy" alt="<%= videotemplate.title %>">
                   <% end %>
                  <div class='video-title'><%= videotemplate.title.downcase.capitalize %></div>
                  <div class='video-date-time'><%= videotemplate.date.to_date %></div>
                </a>
              </div>
            </div>
          </div>
        </section>
      <% end %>
    </section>
    <div class="col-xs-12">
      
    </div>
  </div>
</div>