<%= form_for(@trend_video) do |f| %>
  <% if @trend_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trend_video.errors.count, "error") %> prohibited this trend_video from being saved:</h2>

      <ul>
      <% @trend_video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :mdata %><br>
    <%= f.text_field :mdata %>
  </div>
  <div class="field">
    <%= f.label :img %><br>
    <%= f.text_field :img %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
