<h1>Listing trend_videos</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Mdata</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trend_videos.each do |trend_video| %>
      <tr>
        <td><%= trend_video.url %></td>
        <td><%= trend_video.mdata %></td>
        <td><%= trend_video.img %></td>
        <td><%= link_to 'Show', trend_video %></td>
        <td><%= link_to 'Edit', edit_trend_video_path(trend_video) %></td>
        <td><%= link_to 'Destroy', trend_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trend video', new_trend_video_path %>
