<h1>Listing comedies</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Mdata</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comedies.each do |comedy| %>
      <tr>
        <td><%= comedy.url %></td>
        <td><%= comedy.mdata %></td>
        <td><%= comedy.img %></td>
        <td><%= link_to 'Show', comedy %></td>
        <td><%= link_to 'Edit', edit_comedy_path(comedy) %></td>
        <td><%= link_to 'Destroy', comedy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comedy', new_comedy_path %>
