<% provide(:title, 'Home')%>
<!-- MAIN DIV CONTAINERS -->
<%= render "layouts/header"%>
<div id="div-container">
  <div id="main-container">
    <div id="content">
      <div id="content-wrapper">
        <%= render "layouts/sidebar"%>
        <!-- <div class="span-mainbox-cont-fw"> -->
        <div id="span-mainbox">
          <div class="span-mainbox-cont">
            <h1>Featured Comedic Video</h1>
            <div id='playerIzhRuEzGZUPs'></div>
            <script type='text/javascript'>
            jwplayer('playerIzhRuEzGZUPs').setup({
            file: 'https://www.youtube.com/watch?v=cNSN8_-PkCg',
            image: 'https://s3-eu-west-1.amazonaws.com/afrimages/yt/ws/pornE12.png',
            width: '100%',
            aspectratio: '16:9'
            });
            </script>
            <div class="inner-content" style="margin-top:10px;">
              <div class="video-metadata-container">
                <h2 class="video-metadata">Play on Repeat Now (P.O.R.N) Ep.12</h2>
              </div>
              <div class="social-sharebuttons">
                <div class="follow-icons">
                  <!-- TWITTER'S ICON  -->
                  <span class="twitter-follow-container">
                  <iframe src="//platform.twitter.com/widgets/follow_button.html?screen_name=techcrunch&lang=en&show_count=false" style="width: 60px; height: 20px;" allowtransparency="true" frameborder="0" scrolling="no">
                  </iframe>
                  <iframe src="https://platform.twitter.com/widgets/tweet_button.html?url=https%3A%2F%2FAfroRenaissance.com&count=none&via=twitterdev&text=Explore!%20Create!%20Influence!&hashtags=Afro%2CRenaissance" title="Twitter Tweet Button" style="width:60px; height: 20px;" allowtransparency="true" frameborder="0" scrolling="no">
                  </iframe>
                  </span>
                  <!-- FACEBOOK'S ICON -->
                  <span class="facebook-like-container">
                  <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Ftechcrunch%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=20" scrolling="no" frameborder="0" style=" width: 132px; height:20px;">
                  </iframe>
                  </span>
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
          <div class="clear"></div>
          <div class="span-mainbox-cont">
            <h1>All Comedic Videos</h1>
            <div class="span-fullwidth">
              <!-- CONTENT -->
              <ul class="gallery-listed clearfix">

                <% @comedies.each do |wstemplate| %>
                <li>
                  <!-- IMAGE -->
                  <div class="hover-effect">
                    <div class="view view-first">
                      <div class="masked">
                        <a href = "watch?url=<%= wstemplate.url %>;vid_metadata=<%= wstemplate.mdata %>;img=<%= wstemplate.img %>">
                          <img src = "https://s3-eu-west-1.amazonaws.com/afrimages/yt/ws/<%= wstemplate.img%>">
                          <%= wstemplate.mdata %>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <% end %>
              </ul>
              <%= will_paginate %>
            </div>
          </div>
          <div class="clear"></div>
          <div class="fix-gap"></div>
        </div>
      </div>
      <%= render "layouts/footer"%>
    </div>
  </div>
</div>