<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @talent_video.url %>
</p>

<p>
  <strong>Mdata:</strong>
  <%= @talent_video.mdata %>
</p>

<p>
  <strong>Img:</strong>
  <%= @talent_video.img %>
</p>

<%= link_to 'Edit', edit_talent_video_path(@talent_video) %> |
<%= link_to 'Back', talent_videos_path %>
