<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148881916-1"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-148881916-1');
	</script>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<script src="https://use.fontawesome.com/463aa66a5a.js" async></script>
  <%= javascript_pack_tag 'application', :defer => Rails.env == "production" %>
  <%= stylesheet_pack_tag 'application' %>
	<%= javascript_include_tag 'application', :async => Rails.env == "production" %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="Vey2AcN92WhAXmZ3SAcgJ3k3xFelrafnYim0Bh4xeYA">
	<meta name="Description" content="Videos home page">
	<%= render 'layouts/shim' %>
	<%= favicon_link_tag asset_path('super_comedian_favicon.png') %>
</head>
<body data-twrr-rendered = "true">
	<%= render 'layouts/header' %>
	<%= yield %>
	<%# <%= debug(params) if Rails.env.development? %>
	<%= render 'layouts/footer' %>
</body>
</html>
